/* 공통 시작 */
body { 
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Courier New', Courier, monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    font-size: 100%;
}
#navbar {
overflow: hidden;
background-color: #f2f2f2;

}
#navbar a {
margin-inline-end: 30px;
margin-top: 30px;
float: right;
display: block;
color: #101010;
text-align: center;
padding-bottom: 30px;
text-decoration: none;
font-size: 0.9em;
letter-spacing: 1px;
}
#navbar .logo {
float: left;
display: block;
color: #101010;
text-align: center;
padding-bottom: 30px;
text-decoration: none;
font-size: 2em;
margin-inline-start: 30px;
}
#navbar a:hover {
color: #101010;
background-color: transparent;
text-decoration: underline;
}
#navbar a.active {
color: #101010;
background-color: transparent;
text-decoration: underline;
}
.content {
    padding: 10px;
}
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.sticky + .content {
    padding-top: 60px;
    position: fixed;
    top: 0px;
    display: inline-block;
}
#footbar {
    overflow: hidden;
    background-color: #f2f2f2;
    left: 0px;
    bottom: 0px;
    position: fixed;
    }
#footbar a {
    margin-inline-start: 30px;
    margin-bottom: 5px;
    float: left;
    display: block;
    
 

/* margin-inline-end: 30px;
margin-top: 30px;
float: right;
display: block;
color: #101010;
text-align: center;
padding-bottom: 30px;
text-decoration: none;
font-size: 0.9em;
letter-spacing: 1px; */
}
.footnav {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}
.copyright {
    transform: rotate(90deg) translate(-8.5rem,-10rem);
    transform-origin: left top;
    letter-spacing: 1px;
    margin-inline-end: 30px;
    margin-bottom: 5px;
    font-size: 0.6em;
    color: #3c3e41;
    float: right;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.footMenu {
    letter-spacing: 1px;
    text-align: start;
    list-style: none;
    float: left;  
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.footMenu li {
    float: left;
}
.footMenu img {
    padding-right: 20px;
    display: block;
}

/* 공통 끝 */
/* about 시작 */
#hello {
    letter-spacing: 1px;
    font-size: 6em;
    text-align: end;
    margin-right: 70%;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 30px;
    color: #1e64e6;
}
#firstText {
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 2em;
    text-align: start;
    margin-right: 30px;
    margin-left:30%; 
    color: #101010;
}
#secondText {
    font-size: 6em;
    text-align: start;
    margin-left: 30px;
    margin-right: 10%;
    color: #101010;
}
#thirdText {
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 2em;
    text-align: start;
    margin-right: 30px;
    margin-left:30%; 
    color: #101010;
    
}
#contact {
    font-size: 5em;
    text-align: end;
    margin-right: 70%;
    margin-bottom: 0;
    margin-top: 50px;
    margin-left: 30px;
    color: #1e64e6;
}
.contactList {
    margin-top: 0;
    text-align: start;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1.5em;
    margin-left: 27%;
    color: #101010;
    margin-bottom: 100px;
    list-style: none;
}
.contactList img {
    line-height: 0;
    margin-bottom: -3px;
    margin-right: 20px;
}
.contactList a {
    text-decoration: none;
    color: #1e64e6;
}
.skillTable {  
    /* background-color: #1e64e6; */
    /* margin-left:auto; 
    margin-right:auto; */
    width:70%; 
    margin-left:30%; 
    margin-right:30px;
    text-align: left;
    border-bottom: 1px solid #101010;
    /* margin-bottom: 1px; */
    color: #101010;
    
}
.skillTable th {
    text-align: start;
    padding-left: 30px;
    width: 50%;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #101010;
}

.skillTable td {
    /* border: 1px solid black; */
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 1px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* about 끝 */