/* 공통 시작 */
body { 
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Courier New', Courier, monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #101010;
    font-size: 100%;
}
#navbar {
overflow: hidden;
background-color: rgba(16, 16, 16, 0.3);
}
#navbar a {
margin-inline-end: 30px;
margin-top: 30px;
float: right;
display: block;
color: #f2f2f2;
text-align: center;
padding-bottom: 12px;
text-decoration: none;
font-size: 0.9em;
letter-spacing: 1px;
}
#navbar .logo {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
text-decoration: none;
font-size: 1em;
margin-inline-start: 30px;
margin-top: 25px;
}
#navbar a:hover {
color: #f2f2f2;
background-color: transparent;
text-decoration: underline;
}
#navbar a.active {
color: #f2f2f2;
background-color: transparent;
text-decoration: underline;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#footbar {
    position: fixed;
    background-color: rgba(16, 16, 16, 0.3);
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    z-index: 100;
    padding-top: 10px;
}
#footbar a {
    margin-inline-start: 30px;
    margin-bottom: 5px;
    float: left;
    display: block;
}
.footnav {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}
.copyright {
    transform: rotate(90deg) translate(-8.5rem,-10rem);
    transform-origin: left top;
    letter-spacing: 1px;
    margin-inline-end: 30px;
    font-size: 0.6em;
    color: #3c3e41;
    float: right;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
/* 공통 끝 */
/* index 시작 */
#intro {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
}
.content {
    padding: 20px;
    margin-bottom: 50px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
#hello {
    color: #f2f2f2;
    font-size: 2.6em;
    word-spacing: -5px;
}
#detailButton {
    background-color: transparent;
    text-decoration: none;
    border: none;
    /* background-color: #101010; */
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.5s;
    cursor: pointer;
    /* width: 100px;
    height: 100px;
    border-radius: 50%; */
}
#detailButton a {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border: none;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#detailButton a:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    text-decoration: none;
}
#detailButton a:visited {
    text-decoration: none;
}
#detailButton:hover a {
    padding-right: 25px;
}
#detailButton:hover a:after {
    opacity: 1;
    right: 0;
}
/* index 끝 */

/* mobile layout 시작 */
@media only screen and (max-width:600px) {
    #navbar {
        overflow: hidden;
        background-color: rgba(16, 16, 16, 1);
        }
    #navbar a {
        margin-inline-end: 30px;
        margin-top: 30px;
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding-bottom: 12px;
        text-decoration: none;
        font-size: 0.7em;
        letter-spacing: 1px;
        }
    #footbar {
        position: fixed;
        background-color: rgba(16, 16, 16, 1);
        left: 0;
        right: 0;
        bottom: 0;
        height: 2rem;
        z-index: 100;
        padding-top: 10px;
    }
    #intro {
        position: fixed;
        height: 100%;
        top: 0;
        left: -50%;
        bottom: 0;
        z-index: -1000;
    }
    .content {
        /* padding: 20px; */
        /* margin-bottom: 50px; */
        font-weight: lighter;
        text-align: center;
        letter-spacing: 5px;
        display: block;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  */
    }
    #hello {
        color: #f2f2f2;
        font-size: 1.5em;
    }
}