html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Helvetica", "Courier New", Courier, monospace,
    "Franklin Gothic Medium", "Arial Narrow", Arial, "Trebuchet MS", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 100%;
}
/* 네비게이션 스크린 사이즈 */
@media screem amd (min-width: 1280px) {
  body
}
@media screen and (max-width: 600px) {
  #nav {
    display: none;
  }
  #toggle:checked + #nav {
    display: block;
  }
  #nav li {
    display: block;
    width: 100%;
    text-align: right;
    padding: 4px;
    margin: 0px;
  }
  label {
    display: block;
    text-align: right;
    background: url("menu.png");
    background-repeat: no-repeat;
    background-position: 97% 10px;
    background-size: 24px 19px;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 3%;
  }
}
/* 네비게이션 */
#header {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#header a {
  text-decoration: none;
  cursor: pointer;
}
#logo {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 70px;
  margin-top: 70px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 80% 80% 80% 80%;
  background-size: 30px 30px;
}
label,
#toggle {
  display: none;
}
#nav {
  float: right;
  list-style: none;
  margin: 70px 70px 70px 70px;
  display: inline;
}
#nav li {
  display: inline;
  float: left;
  margin-left: 50px;
  list-style: none;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0em;
}
#nav li a:link {
  text-decoration: none;
  color: black;
}
#nav li a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
#nav li a:visited {
  color: black;
  text-decoration: none;
}
#nav li a.active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
/* 푸터 */
#footer address ul {
  margin: 0px;
  padding: 0;
}
#footer address ul li {
  margin: 170px 20px 170px 70px;
  list-style: none;
  float: left;
  display: flex;
}
#footer p {
  color: gray;
  height: 100px;
  margin: 170px 70px 70px 50px;
  float: right;
}
/* 푸터 버튼 스타일 */
.detailButton {
  background-color: transparent;
  text-decoration: none;
  border: none;
  /* background-color: white; */
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
}
.detailButton a {
  color: black;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.detailButton a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 10px;
  transition: 0.5s;
  text-decoration: none;
}
.detailButton a:visited {
  text-decoration: none;
}
.detailButton:hover a {
  padding-right: 20px;
}
.detailButton:hover a:after {
  opacity: 1;
  right: 0;
}
/* ----------공통 끝------------- */
/* about */
#about h1 {
  height: 40vh;
  background: url("../images/abouttop.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}
#about h3 {
  text-align: left;
  margin: 0px 140px 0 140px;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1em;
}
#about p {
  text-align: left;
  width: 40vw;
  margin: 70px 140px 0 140px;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.5em;
}
#about ul {
  width: 30vw;
  margin-left: auto;
  margin-right: 140px;
}
.icon {
  float: right;
  list-style: none;
  display: inline;
  margin-top: 70px;
  margin-right: 30px;
}
/* home */
#home h3 {
  text-align: left;
  margin: 0px 140px 0 140px;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1em;
}
#home p {
  text-align: left;
  width: 40vw;
  margin: 70px 140px 0 140px;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.5em;
}
/* home 그리드 */
.worrk-grid img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
.worrk-grid {
  margin: 70px 140px 0 140px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 3em;
}
/* leftovers 그리드 */
.leftovers-grid img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
.leftovers-grid {
  margin: 0 140px 0 140px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3em;
}
/* 그리드 공통 hover styles */
.location-listing {
  position: relative;
}
.location-image {
  line-height: 0;
  overflow: hidden;
}
.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}
.location-title {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.location-listing:hover .location-title {
  opacity: 1;
}
.location-listing:hover .location-image img {
  filter: blur(2px);
}
/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}
/* 그리드 끝 */

/* #back {
  width: 100%;
  display: inline-block;
}
#back img {
  float: right;
  margin-right: 170px;
  margin-top: 70px;
}
#back h3 {
  font-size: 6em;
  color: black;
  margin-left: 140px;
}
#back p {
  text-align: left;
  margin-left: 140px;
  font-size: 2em;
} */

/* work 스타일 공통 */
#topcontents img {
  display: block;
  margin: 0 auto;
  width: 100%;
  /* margin-top: 0px;
  margin-right: 140px;
  margin-left: 140px; */
  /* width: fit-content; */
}
#topcontents h3 {
  text-align: left;
  margin: 70px 140px 0 140px;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 0em;
}
#topcontents p {
  text-align: left;
  width: 60vw;
  margin: 30px 140px 0 140px;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.5em;
}
#middlecontents_first {
  display: inline;
}
#middlecontents_first img {
  float: right;
  margin-top: 70px;
  margin-right: 140px;
  display: block;
}
#middlecontents_first p {
  text-align: left;
  width: 30vw;
  margin: 70px 140px 0 140px;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.4em;
}
#middlecontents_second {
  display: inline;
}
#middlecontents_second img {
  float: left;
  margin-top: 70px;
  margin-left: 140px;
  width: 40vw;
}
#middlecontents_second p {
  float: right;
  width: 30vw;
  margin: 70px 140px 0px 0px;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.4em;
}
#lastcontents {
  display: inline;
}
#lastcontents img {
  float: right;
  margin-top: 70px;
  margin-right: 140px;
  display: block;
}
#lastcontents p {
  float: left;
  width: 30vw;
  margin: 70px 0px 0px 140px;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.4em;
}
#list_left {
  text-align: left;
  width: 30vw;
  margin: 30px 0 0 140px;
  padding: 0;
}
#list_left li {
  list-style: none;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.8em;
}
#list_right {
  float: right;
  text-align: left;
  width: 30vw;
  margin: 30px 140px 0 0px;
  padding: 0;
}
#list_right li {
  list-style: none;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.8em;
}
.clearfix {
  clear: both;
}
#backcolor {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: black;
  /* background-image: url("../images/nextimg_1.jpg");
  background-repeat: no-repeat;
  background-size: auto 170px;
  background-position: center; */
  margin-top: 170px;
  margin-bottom: 0%;
}
#backcolor a {
  margin: 25px 140px 0 140px;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.5em;
  color: white;
}
