/* 공통 시작 */
body { 
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Courier New', Courier, monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    font-size: 100%;
}

.topNav {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    letter-spacing: 1px;
}
#logo {
    float: left;
    color: #101010;
    margin-inline-start: 30px;
}
#logo a {
    color: #101010;
    text-decoration: none;
    
}
#logo a:hover {
    color: #1e64e6;
    text-decoration: none;
}
.topMenu {
    text-align: end;
    list-style: none;
    float: right;
    margin-inline-end: 30px;
    margin-top: 30px;
}
.topMenu li {
    float: left;
}
.topMenu a {
    font-size: 0.9em;
    color: #101010;
    text-decoration: none;
    padding-left: 20px;
}
.topMenu a:hover {
    color: #101010;
    background-color: transparent;
    text-decoration: underline;
}
.footnav {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}
.copyright {
    transform: rotate(90deg) translate(-8.5rem,-10rem);
    transform-origin: left top;
    letter-spacing: 1px;
    margin-inline-end: 30px;
    margin-bottom: 5px;
    font-size: 0.6em;
    color: #3c3e41;
    float: right;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.footMenu {
    letter-spacing: 1px;
    text-align: start;
    list-style: none;
    float: left;  
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.footMenu li {
    float: left;
}
.footMenu img {
    padding-right: 20px;
    display: block;
}
/* 공통 끝 */
/* underwater 시작 */
.topDesignText {
    color: #1e64e6;
    font-size: 6em;
    text-align: end;
    margin-left: 30px;
    margin-right: 30px;
}
main img {
    width: 100%;
    height: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
    margin-left: 30px;
    margin-right: 30px;
}
.designListing {
    position: relative;
    float: left;

}
.designImage {
    line-height: 0;
    overflow: hidden;
}
.designImage img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transition: scale(1.1);
}
.designTitle {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(30, 110, 230, 0.8);
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.designListing:hover .designTitle {
    opacity: 1;
}
.designListing:hover .designImage img {
    filter: blur(2px);
}
/* underwater 끝 */