/* 공통 시작 */
body { 
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Courier New', Courier, monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #101010;
    font-size: 100%;
}
#navbar {
overflow: hidden;
background-color: rgba(16, 16, 16, 0.3);
}
#navbar a {
margin-inline-end: 30px;
margin-top: 30px;
float: right;
display: block;
color: #f2f2f2;
text-align: center;
padding-bottom: 12px;
text-decoration: none;
font-size: 0.9em;
letter-spacing: 1px;
}
#navbar .logo {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
text-decoration: none;
font-size: 1em;
margin-inline-start: 30px;
margin-top: 25px;
}
#navbar a:hover {
color: #f2f2f2;
background-color: transparent;
text-decoration: underline;
}
#navbar a.active {
color: #f2f2f2;
background-color: transparent;
text-decoration: underline;
}
.content {
    padding: 10px;
    margin-bottom: 50px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#footbar {
    position: fixed;
    background-color: rgba(16, 16, 16, 0.3);
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    z-index: 100;
    padding-top: 10px;
}
#footbar a {
    margin-inline-start: 30px;
    margin-bottom: 5px;
    float: left;
    display: block;
}
.footnav {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}
.copyright {
    transform: rotate(90deg) translate(-8.5rem,-10rem);
    transform-origin: left top;
    letter-spacing: 1px;
    margin-inline-end: 30px;
    font-size: 0.6em;
    color: #3c3e41;
    float: right;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
/* 공통 끝 */
/* work 시작 */
.workSlideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 0;
}
.mySlides {
    display: none;
    vertical-align: middle;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 30px;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 3em;
    transition: 0.6s ease;
    user-select: none;
    text-decoration: none;
}
.next {
    right: 0;
}
.slidesText {
    color: #f2f2f2;
    font-size: 2em;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: start;
    margin-left: 130px;
    line-height: 1;
    /* text-align: center; */
}
.numberText {
    position: relative;
    color: #f2f2f2;
    font-size: 5em;
    text-align: start;
    top: 40px;
    left: 30px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from { opacity: .4;}
    to { opacity: 1;}
}
@keyframes fade {
    from { opacity: .4;}
    to {opacity: 1;}
}
@media only screen and (max-width: 300px) {
    .prev, .next, .slidesText {
        font-size: 11px;
    }
}
/* work 끝 */

/* mobile layout 시작 */
@media only screen and (max-width:600px) {
    #navbar {
        overflow: hidden;
        background-color: rgba(16, 16, 16, 1);
        }
    #navbar a {
        margin-inline-end: 30px;
        margin-top: 30px;
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding-bottom: 12px;
        text-decoration: none;
        font-size: 0.7em;
        letter-spacing: 1px;
        }
    #footbar {
        position: fixed;
        background-color: rgba(16, 16, 16, 1);
        left: 0;
        right: 0;
        bottom: 0;
        height: 2rem;
        z-index: 100;
        padding-top: 10px;
    }
}